<!doctype html>
<html lang="en">
<head>
    <%-include("./inc/head")%>
</head>
<body>

<%-include("./inc/nav")%>
<section>
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consectetur dicta dolorem dolores eius in iusto numquam officiis perspiciatis tempora tenetur.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Consectetur dicta dolorem dolores eius in iusto numquam officiis perspiciatis tempora tenetur.
    </p>
</section>
</body>
</html>
